
.section_form-group {
  padding-top: 150px;
  padding-bottom: 100px;
  background-color: var(--fon2-color);
}

.container_from-group {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 80px; 
  justify-content: space-between;
}

.form-section {
  flex: 1; 
  max-width: 500px;
}

.form-section h2 {
  font-family: var(--font-family);
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 40px;
  color: var(--black-color);
}

.form-group {
  margin-bottom: 24px;
}

.form-group input {
  font-family: var(--font-family);
  width: 100%;
  padding: 12px 0;
  border: none;
  border-bottom: 2px solid #0000008a;
  font-size: 16px;
  background: transparent;
  outline: none;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-bottom-color: var(--black-color);
}

.form-group input::placeholder {
  color: #999;
}

/* Кнопки */
.button-form {
  font-family: var(--font-family);
  background-color: var(--black-color);
  color: var(--main-color);
  border: none;
  padding: 16px 32px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color var(--time);
}

@media (hover: hover) {
  .button-form:hover { background-color: var(--roz-color); }
}


.checkbox-group {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-top: 30px;
}

/* Скрываем стандартный чекбокс */
.checkbox-group input[type="checkbox"] {
    display: none;
}

/* Стилизуем label */
.checkbox-group label {
    display: flex;
    gap: 12px;
    cursor: pointer;
    font-family: var(--font-family);
    font-size: 14px;
    color: var(--black-color);
}

/* Квадратик чекбокса (рисуем через ::before) */
.checkbox-group label::before {
    content: "";
    display: inline-flex;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    border: 1px solid #333;
    border-radius: 4px;
    background: #fff;
    margin-top: 2px;
    transition: all 0.2s;
}

/* Галочка внутри квадратика */
.checkbox-group label::after {
    content: "";
    display: block;
    position: absolute;
    width: 6px;
    height: 12px;
    border: solid #c23b8a;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.2s;
}

/* Позиционируем label относительно для галочки */
.checkbox-group label {
    position: relative;
}

/* Смещаем галочку внутрь квадратика */
.checkbox-group label::after {
    left: 9px;
    top: 7px;
}



.checkbox-group input:checked + label::after {
    opacity: 1;
}


@media (max-width: 768px) {
  .container_from-group {
    flex-direction: column;
    gap: 60px;
  }
  
  .form-section {
    max-width: 100%;
  }
}