.header {
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 6px;
    padding-bottom: 7px;
    background-color: var(--black-color);
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    margin-right: 50px;
}


@media (width >= 1300px) {
.header_menu {
    flex-grow: 1;
    }
}

@media (width <= 1300px) {
    .header_menu {
        display: none;
    }
}

.header_actions-button {
  position: relative;   /* чтобы бейдж позиционировался относительно кнопки */
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.header_actions-count {
  position: absolute;
  top: -4px;
  right: -4px;

  min-width: 20px;
  height: 20px;
  padding: 0 6px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  background: var(--roz-color);
  color: #fff;
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 600;
  line-height: 1;

  border-radius: 10px;
  box-sizing: border-box;
}

/* Скрываем, когда 0 */
.header_actions-count:empty,
.header_actions-count[data-count="0"] {
  display: none;
}